@import '../../styles/vars';

.figure {
  margin: auto;
  margin-bottom: $gutter-large;
}

.action-shot__wrapper {
  clip-path: $clip-path;
  padding: 10px;
  background-color: $grey-dark;
  width: 100%;
}

.action-shot {
  max-width: 100%;
  display: block;
  clip-path: $clip-path;
}

.caption {
  background-color: $grey-dark;
  color: $color-white;
  padding: 10px 10px 0;
  text-align: right;
}
