{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "^@(component)/(.*)$": "./src/components/\\2/\\2",
        "^@(element)/(.*)$": "./src/elements/\\2/\\2",
        "^@(image)/(.*)$": "./src/static/images/\\2",
        "^@(layout)/(.*)$": "./src/layouts/\\2",
        "^@(page)/(.*)$": "./src/pages/\\2/\\2",
        "^@(util)/(.*)$": "./src/utils/\\2"
      }
    }]
  ]
}
