:host {
  display: block;
}

.route {
  width: 100%;
}

.link {
  color: var(--color-secondary);
  text-decoration-color: var(--color-secondary);
  /* background-color: rgba(var(--color-primary) .8); */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  padding: .125em;
}

.link-active {
  /* background-color: var(--color-tertiary); */
}
