@import '../../styles/index';

a {
  color: $color-text;
  transition: $transition;

  &:visited {
    color: $color-text;
  }

  &:hover,
  &:focus {
    background-color: $color-text;
    color: $color-white;
  }

  &.light {
    color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-white;
      color: $color-text;
    }
  }

  &.linkedin,
  &.github {
    position: relative;
    margin-right: 1.75em;
    display: inline-block;

    &:before {
      content: '';
      position: absolute;
      right: -1.6em;
      top: .1em;
      height: 1.25em;
      width: 1.25em;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &.github {
    &:before {
      background-image: url('/static/images/github_64.png');
    }
  }

  &.linkedin {
    &:before {
      background-image: url('/static/images/linkedin_108.png');
    }
  }
}
