@import '../styles/vars';

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    width: 100%;
    align-self: center;
    flex-grow: 1;
  }

  &.teal {
    background-color: $teal;
  }

  &.blue {
    background-color: $blue;
  }

  &.orange {
    background-color: $orange;
  }

  &.green {
    background-color: $green;
  }
}
